@model Forum.Models.Forum.ForumTopicModel

<div class="container">
    <div class="row">
        <div class="col">
            <h1>@Model.Forum.Name forum</h1>
        </div>
        @if (Context.User.Identity.IsAuthenticated)
        {
            <span id="headingBnt">
                <a asp-controller="Post"
                   asp-action="Create"
                   asp-route-id="@Model.Forum.Id" class="btn btn-primary">
                    Create Post
                </a>
            </span>
        }
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="col">
                <p>You must be a registered member to create a new post</p>
            </div>
        }
    </div>
    <div class="row">
        @if (Model.Posts.Any())
        {
            <table class="table table-bordered table-hover">
                <tbody>
                @foreach (var post in Model.Posts)
                {
                    <tr>
                        <td>
                            <div>
                                <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                                    @post.Title
                                </a>
                            </div>
                            <div>
                                @post.AuthorName
                                @post.DatePosted
                            </div>
                        </td>
                        <td>
                            Replies: @post.RepliesCount
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <h3>
                There are no @Model.Forum.Name posts yet. <br/>
                Try to
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id">
                        create
                    </a>
                }
                else
                {
                    <span>register to create a new</span>
                }
                one.
            </h3>
        }
    </div>
</div>


